{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'eventbooking.css' %}">
{% endblock %}
{% block content %}

<div class="contact-section">
  <div class="contact">Contact Us</div>
  <form>
      <input type="text" placeholder="Your Name" required>
      <input type="email" placeholder="Your Email" required>
      <textarea placeholder="Your Message"></textarea>
      <button type="submit">Send Message</button>
  </form>
</div>


{% endblock %}